img defaultImg {
  margin-left: -50px;
}

.divDiv{
    margin: 30px 160px;
}

.top{
/* margin-left: 50px; */
margin:0 auto;
position: relative;
right: -13rem;
top: -16.5rem;
font-size: 2rem;
color: white;
}

.bottom{
margin:0 auto;
position: relative;
right: -13rem;
top: -6rem;
font-size: 2rem;
color: white;
}